@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 기본 타이포그래피 스타일 적용 */
  .app-content {
    @apply prose prose-slate max-w-none;
  }

  /* 기본 헤딩 스타일 */
  h1 {
    @apply text-4xl font-bold mb-4;
  }
  
  h2 {
    @apply text-3xl font-semibold mb-3;
  }
  
  h3 {
    @apply text-2xl font-semibold mb-2;
  }

  /* 링크 스타일 */
  a {
    @apply text-blue-600 hover:text-blue-800;
  }

  /* 단락 스타일 */
  p {
    @apply mb-4;
  }
}

@font-face {
  font-family: firacode;
  src: url(/src/assets/firacode.woff2);
}

@font-face {
  font-family: pretendard;
  src: url(/src/assets/pretendard.woff2);
}

@font-face {
  font-family: tossface;
  src: url(/src/assets/tossface.otf);
  unicode-range: U+1F600-1F64F;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}